---

---

<section class="text-left sm:max-w-3xl">
    <h1 class="text-4xl leading-tight sm:text-5xl sm:leading-tight">
        <em style="font-weight: bold; font-style: normal; color: #212121; background-color: #3FEFE3;">Hi, I'm Daniel</em>. I'm a father*3, lateral thinker and
        designer in
        <a
            class="hover:underline hover:underline-offset-2"
            href="https://www.google.se/maps/place/Malm%C3%B6/@55.5697263,12.6863431,10z/data=!3m1!4b1!4m6!3m5!1s0x465305a574c491ff:0xd3a905dfbd4888e5!8m2!3d55.604981!4d13.003822!16s%2Fm%2F011l894y?entry=ttu&g_ep=EgoyMDI1MDQwOS4wIKXMDSoASAFQAw%3D%3D"
            target="_blank"
            rel="noopener noreferrer">Malmö, Sweden.</a
        >
    </h1>
    <div class="my-8"></div>
    <div class="max-w-prose text-xl sm:text-2xl leading-normal">
        I'm currently a freelancing strategic designer, providing expertise in areas ranging from digital product processes, strategy and innovation to UX- and
        service design. On this site, I share my own thoughts and ideas.
    </div>
    <div class="my-10"></div>
    <a
        href="/about"
        class="group relative inline-flex h-12 items-center justify-center overflow-hidden rounded-md border bg-transparent px-6 font-medium text-(--text-main) transition-all duration-100 [box-shadow:5px_5px_rgb(82_82_82)] active:translate-x-[3px] active:translate-y-[3px] active:[box-shadow:0px_0px_rgb(82_82_82)]"
    >
        Learn more
    </a>
</section>
