---

---

<section class="text-left sm:max-w-3xl">
    <h1 class="text-4xl leading-tight sm:text-5xl sm:leading-tight">
        <em style="font-weight: bold; font-style: normal; color: black; background-color: #FFD100;">Hi, I'm Daniel</em>. I'm a father, writer and designer in
        Malmö, Sweden.
    </h1>
    <div class="my-8"></div>
    <div class="max-w-none text-xl sm:text-2xl">
        I'm currently freelancing as a strategic designer providing expertise in areas ranging from digital product processes, strategy and innovation to UX-
        and service design. On this site, I share my own thoughts and ideas.
    </div>
    <div class="my-10"></div>
    <a
        href="/about"
        class="group relative inline-flex h-12 items-center justify-center overflow-hidden rounded-md border bg-transparent px-6 font-medium text-(--text-main) transition-all duration-100 [box-shadow:5px_5px_rgb(82_82_82)] active:translate-x-[3px] active:translate-y-[3px] active:[box-shadow:0px_0px_rgb(82_82_82)]"
    >
        Learn more
    </a>
</section>
